* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #474c51;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #a8a7f3;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
}

input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
}

.options {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
}

.options label {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
